.Access {
  padding-top: 28px;
  padding-bottom: 28px;

}

.Access a{
  color:  #0087E9 ;
  font-size:  16px;
}

.Access span{
  color:#000000;
  font-size:  16px;
}

.Access button{
  cursor: pointer;
  color:#666666;
  text-decoration: underline;
  font-size:  16px;
  border: none;
  background: none;
}
